/*
    <= 320px - portrait
    >  320px - landscape
    >  480px - bigger phones
    >  768px - tablets
    >= 960px - desktops
*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", "Helvetica", sans-serif;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    border: 1px solid #777;
    border-radius: 0.2rem;
    background-color: white;
    color: black;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem;
    margin: 0.5rem 0;
}

button:active,
button:hover {
    background-color: #777;
    color: white;
}
